.header {
  background-image: url(../images/header-bg-mobile.png);
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin: 0;
    padding-bottom: 40px;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
      line-height: 100%;
    }
  }
}
