.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(../images/icons/Icon-Phone-call.svg);
    &::after {
      content: '+1 234 5555-55-55';

      position: absolute;
      right: 150px;
      bottom: -5px;
      transform: translateX(100%);

      display: block;

      width: 100%;
      height: 100%;

      color: black;
      white-space: nowrap;

      opacity: 0;

      transition: all 0.3s;
    }

    &:hover::after {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.svg);
  }
}
