.menu {
  overflow: auto;

  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;

  background-color: #f9f9f9;

  &__top {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__phone {
    @include hover(color, (#f98921));
  }

  &__phone_number {
    display: block;

    margin-bottom: 16px;

    font-size: 16px;
    line-height: 22.4px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
  }

  &__call-to-order {
    display: block;

    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 1px solid #1b2129;

    font-size: 16px;
    line-height: 22.4px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__nav {
    margin-bottom: 48px;
  }
}
