.menu {
  box-sizing: border-box;
  background-color: #F9F9F9;
  height: 100vh;
  font-weight: 700;

  

  &__top {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__phone_number {
    display: block;
    color: inherit;
    text-decoration: none;

    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 2px;

    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 2px;

    padding-bottom: 3px;
    border-bottom: 1px solid #1B2129;
    width: fit-content;
  }

  &__nav {
    margin-bottom: 48px;
  }


}
