.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      bottom: -8px;
      height: 1px;
      background-color: #1B2129;

      transform: scale(0);
      transition: transform 0.3s;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
