.product {
  &__photo {
    display: block;
    width: 100%;
  }

  &__category {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }
}
