@import 'utils/mixings';

@import 'blocks/menu';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/icon';
@import 'blocks/nav';

@import 'section/section-title';
@import 'blocks/main';
@import 'product';
@import 'section/recomended';

@import 'section/about';
@import 'section/categories';
@import 'section/contact';

@import 'buttons';
@import 'blocks/footer';
