@import 'utils/mixings.scss';

@import 'blocks/menu.scss';
@import 'blocks/page.scss';
@import 'blocks/header.scss';
@import 'blocks/top-bar.scss';
@import 'blocks/icon.scss';
@import 'blocks/nav.scss';

@import 'section-title.scss';
@import 'main.scss';
@import 'product.scss';
@import 'recomended.scss';