.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    @include hover(transform, scale(1.03));

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    margin: 0;

    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    line-height: 140%;
  }
}
