.contact {
  margin-bottom: 64px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  &__wrapper {
    @include page-grid;
  }

  &__form-wrapper {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include on-desktop {
      grid-column: span 6;
    }
  }
  &__form {
    margin-bottom: 32px;
    &__input {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 16px;
      padding: 16px 14px;
      border: 1px solid #f9f9f9;
      border-radius: 8px;

      font-size: 14px;
      font-weight: 400;
      line-height: 140%;

      background-color: #f9f9f9;

      @include hover(border, (1px solid #dbdbdb));
    }

    &__input:hover::placeholder {
      color: #1b2129;
    }

    &__input:focus {
      border: 2px solid #f98921;
      outline: none;
    }

    &__input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
      -webkit-text-fill-color: initial;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      box-shadow: 0 0 0px 1000px white inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &__message {
      resize: none;

      box-sizing: border-box;
      width: 100%;
      height: 148px;
      padding: 16px 14px;
      border: 1px solid #f9f9f9;
      border-radius: 8px;

      font-family: Manrope, sans-serif;
      font-size: 14px;
      line-height: 140%;

      background-color: #f9f9f9;

      @include hover(border, (1px solid #dbdbdb));
    }

    &__message:hover::placeholder {
      color: #1b2129;
    }

    &__message:focus {
      border: 2px solid #f98921;
      outline: none;
    }
  }
  &__info-wrapper {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 8 / 12;
    }
  }

  &__info__block {
    margin-bottom: 24px;
  }

  &__info__header {
    margin: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #9393a3;
    letter-spacing: 0.15px;
  }
  &__info__text {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;

    @include hover(color, (#f98921));
  }

  a:link,
  a:visited {
    color: #191919;
    text-decoration: none;

    @include hover(color, (#f98921));
  }
}
