.recomended {
  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include hover(transform, scale(1.03));

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
